/* General Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://i.pinimg.com/736x/80/43/44/8043444cbf5135bb23b01ace60cb19f8.jpg")
        no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(34, 22, 22, 0.8);
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    font-family: "cursive", Roboto;
}

.caption {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(34, 22, 22, 0.6);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.Sagan {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

a {
    color: #2312c9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4a12c9;
}

/* Footer Styles */
footer {
    background: rgba(26, 26, 26, 0.5);
    color: #ddd;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.quote {
    width: 80%;
}

.copyright {
    background-color: rgba(1, 23, 119, 0.159);
    text-align: left;
    padding: 10px;
    font-size: 0.8rem;
    max-height: 500px;
    max-width: 800px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    border: none;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
        transform 0.3s,
        filter 0.3s;
}

.icon:hover img {
    transform: scale(1.2);
    filter: grayscale(0%) brightness(1);
}

footer p {
    margin-bottom: 10px;
}

/* To ensure the space below the footer paragraph has the same background color */
footer .copyright p {
    background-color: rgba(1, 23, 119, 0.159);
    padding: 10px 0;
}
